[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
	